.digits-background {
  background: url('/images/landinghome.png');
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
}

.create-club-page {
  background: url('/images/starting.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 70px;
}

.create-club-info {
  padding-top: 50px;
}
.homepage {
  padding-top: 50px;
}

.clubpage-bottom-background {
  background-color: #f0f0f0;
}

.clubpage-name {
  margin:0px;
}