.digits-background {
  background: url('/images/landinghome.png');
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
}

.create-club-page {
  background: url('/images/starting.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 70px;
}

.below-landing-picture {
  background-color: #0f1721;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.create-club-info {
  padding-top: 50px;
}
.homepage {
  padding-top: 50px;
  padding-bottom: 50px;
}

.clubpage-bottom-background {
  background-color: #f0f0f0;
}

.clubpage-name {
  margin: 10px;
  align: center;
}

.footer-background {
  background-color: #0f1721;
  color: white;
  padding-top: 60px;
  padding-bottom: 30px;
}

.my-clubs-page {
  padding-top: 30px;
  padding-bottom: 30px;
}